/*********************************************************
			HOMEPAGE SEARCH 
**********************************************************/

.home-title {
	margin-top: 60px;
	color: #fff;
}
.home-title  h1 {
	margin-top: 0px;
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 2px;
}
.home-title  h2 {
	margin-bottom: 0px;
}
.search-section {
    margin-top: 60px;
    margin-bottom: 60px;/*
    padding: 0px 0px;
    margin-left: -5px;
    margin-right: -5px;*/
	z-index:9999;
}
.search-section .nav-tabs {
	border-bottom: none;
}
/*Filter advance search*/
.navbar .search-form-inner {
    border-top: 2px solid;
    padding: 20px;
    margin: 0 -15px;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs .active:after {
	background: #F7A91B none repeat scroll 0 0;
    content: "";
    height: 20px;
    left: 40%;
    position: absolute;
    top: 80%;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    width: 20px;
}
.search-section .nav-tabs > li > a {
	color: #ffffff;
	background: rgba(10, 49, 82, 0.5);
	letter-spacing: 1px;
	font-weight: bold;
	border-radius: 2px 2px 0 0;
	margin-right: 4px;
}
.search-section .nav > li > a {
	padding: 15px;
}
.search-section .nav-tabs > li {
	margin-bottom: 0px;
}
.search-section .nav-tabs > li > a:hover {
	color: #ffffff;
	background: #F7A91B;
	border: 1px solid transparent;
}
.search-section .nav-tabs > li.active > a, 
.search-section .nav-tabs > li.active > a:focus, 
.search-section .nav-tabs > li.active > a:hover {
	color: #ffffff;
	background: #F7A91B;
	border: 1px solid transparent;
}
.search-section .tab-content {
	color: #07253F;
	background: #fff;
	padding: 30px 15px;
}
.search-section label {
	font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.search-section .form-control {
	background-color: transparent;
    border: 1px solid #BEC4C8;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #07253F;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.search-section .form-control::-moz-placeholder {
	color: #989DA0;
	opacity:1;
}
.search-section .form-control:-ms-input-placeholder {
	color: #BEC4C8;
}
.search-section .form-control::-webkit-input-placeholder {
	color: #BEC4C8;
}
.search-section .form-control::-o-input-placeholder {
	color: #BEC4C8;
}
.search-section .input-group-addon {
	background: transparent;
	color: #BEC4C8;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}
.search-section .product-search-title {
	font-size: 18px;
	display: block;
	font-weight: 800;
	text-transform: uppercase;
	color: #F7A91B;
}
/*.search-section .search-col-padding {
	padding-top: 15px;
}*/
.search-section option {
	color: #07253F;
}
#ui-datepicker-div {
	background: #07253F;
	z-index: 9999 !important;
}
#ui-datepicker-div  table {
	margin: 10px;
}
.ui-datepicker-calendar a {
	padding: 5px;
	color: #ffffff;
}
.ui-datepicker-calendar a:hover {
	color: #00ADEF;
}
.ui-datepicker-calendar td {
	padding: 10px 5px;
}
.ui-datepicker-calendar .ui-state-disabled {
	color: #0A3152;
}
.ui-datepicker-calendar th {
	color: #ffffff;
	padding: 7px;
}
.ui-datepicker-header {
	margin: 10px;
}
.ui-datepicker-header .ui-datepicker-title {
	color: #ffffff;
	text-align: center;
}
.ui-datepicker-header a {
	color: #ffffff;
	cursor: pointer;
}
.ui-datepicker-header a:hover {
	color: #00ADEF;
}
.ui-spinner-up i {
	color: #BEC4C8;
	float: right;
	margin-top: -27px;
	margin-right: 10px;
	z-index: 99999;
}
.ui-spinner-down i {
	color: #BEC4C8;
	float: left;
	margin-top: -27px;
	margin-left: 10px;
	z-index: 99999;
}
.quantity-padding {
	padding-left: 40px !important;
}
.ui-datepicker-prev {
	float: left;
}
.ui-datepicker-next {
	float: right;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
    border: 1px solid #BEC4C8;
    border-radius: 0;
    height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #07253F;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #07253F !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.btn:hover {
	color: #00ADEF;
}
.search-button {
	background: #F7A91B;
    border-radius: 0;
    margin-top: 10px;
    padding: 10px 30px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #fff;
	transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.search-button:hover {
	background: #00adef;
	color: #fff;
}
/*Prima Slider */
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
	background: #F7A91B !important;
}
.offer-slider {
	margin-top: 200px;
}
.offer-slider .item {
	color: #fff;
}
.offer-slider .item h4,
.offer-slider .item h3 {
	font-weight: bold;
	margin: 0px 0px 15px;
}
.offer-slider .item a {
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	font-weight: bold;
}
.offer-slider .item a:hover {
	color: #fff;
	background: #F7A91B;
	border: 2px solid transparent;
}
.offer-slider .owl-theme .owl-dots .owl-dot span {
	background: #fff;
	margin-top: 15px;
}
.offer-slider .owl-theme .owl-dots {
	text-align: right;
}
.bg-slider .carousel-caption {
	color: #fff;
	text-shadow: none;
	top: 30%;
	z-index: 0;
}
.bg-slider .carousel-caption h2 {
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 2px;
}
.bg-slider .carousel-caption h4 {
	font-weight: 700;
} 
.bg-slider .carousel-caption h4 span {
	font-weight: 900;
}
.bg-slider .carousel-caption a {
	border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 15px;
    padding: 8px 20px;
}
.bg-slider .carousel-caption a:hover {
	color: #fff;
	background: #F7A91B;
	border: 2px solid transparent;
}
.bg-slider .carousel-indicators {
	display: none;
}
.bottom-search {
	padding: 0 0 60px;
	background: #f7f7f7;
}
.bottom-search .search-section {
	margin: -53px 0 0;
}
.bottom-search .tab-content {
	box-shadow: 0px 0px 5px #e6e6e6;
}
.vertical-tab {
	padding-right: 0px;
	margin-top: 30px;
}
.vertical-tab .nav-tabs > li {
	display: block;
	width: 100%;
}
.vertical-tab .nav-tabs .active::after {
	display: none;
}
.vertical-tab-pannel {
	padding-left: 0px;
}
.vertical-tab-pannel .tab-content {
	box-shadow: 0px 0px 5px #e6e6e6; 
}
.vertical-tab .nav-tabs > li > a {
	background: #f7f7f7;
	color: #BEC4C8;
	margin: 0px;
	border-radius: 0;
	border-bottom: 1px solid #e6e6e6;
}
.vertical-tab .nav-tabs > li > a i {
	margin-right: 5px;
}
.vertical-tab .nav-tabs > li.active > a, 
.vertical-tab .nav-tabs > li.active > a:focus, 
.vertical-tab .nav-tabs > li.active > a:hover {
	background: #fff none repeat scroll 0 0;
    color: #07253F;
    z-index: 2;
	border-bottom: 1px solid #e6e6e6;
}
.offer-box {
	color: #07253F;
	text-align: center;
}
.offer-box img {
	max-width: 100%;
	padding: 5px;
	border: 1px solid #e6e6e6;
}
.offer-box .item h4 {
	font-weight: bold;
}
.offer-box  a {
	background: #F7A91B none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 8px 10px;
}
.offer-box a:hover {
	background: #00adef;
}
.vertical-search,
.full-width-search {
	padding: 45px 0px; 
}
.tran-search-box .tab-content {
	background: rgba(10, 49, 82, 0.5);
	color: #fff;
}
.tran-search-box .tab-content .form-control,
.tran-search-box .input-group-addon,
.tran-search-box  .custom-select-button {
	color: #07253F;
	background: #fff;
}
.tran-search-box  .nav-tabs {
	border-bottom: 4px solid #F7A91B;
}
@media (max-width: 991px) {
	.offer-slider,
	.offer-box {
		display: none;
	}
}
@media (max-width:767px) {
	/*tab width at homepage*/
	.search-section .nav > li > a {
    padding: 15px;
}

	.vertical-tab .nav-tabs > li {
		display: block;
		width: auto;
	}
	.vertical-tab-pannel {
		padding-left: 15px;
	}
	.vertical-tab {
		padding-right: 15px;
		margin-top: 0px;
	}
	.search-top span {
		display: none;
	}
	.nav>li>a {
		padding: 10px;
	}
	.home-title  h1  {
		font-size: 24px;
	}
	.home-title  h2 {
		margin-bottom: 0px;
		font-size: 20px;
	}
	.bg-slider .carousel-caption h2 {
		font-size: 20px;
	}
	.bg-slider .carousel-caption h4,
	.bg-slider .carousel-caption a {
		display: none;
	}
	.bg-slider .carousel-caption {
		top: 5%;
	}
	.search-section .nav-tabs > li{
		float:left;
	}
	.floated .search-form{
		margin-top:-150px;
	}
	/*Active indicator tab*/
	.search-section .nav-tabs .active:after{
		left:30%;
	}
	.hero-slider.flexslider, .hero-slider.flexslider ul.slides li{
		height:450px;
	}
	.hiden-mobile{
		display:none;
	}
	.navbar #menu-toggle{
		border-bottom:3px solid #73BB46;
	}
	.hiden-pc{
		display: block !important;
	}
	
	.dark-bg .package-block-content{
		min-height:180px;
	}
	.discount-price {
    font-size: 14px !important;
    color: #F7A91B !important;
} 
.current-price {
    font-size: 14px !important;
    margin-top: 30px;
}
.footer_widget.widget_links ul li {
    border: 1px solid #ccc;
    padding: 5px 12px;
}
}
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width:100%;
}
button.search-button.btn.transition-effect{
	width:100%;
}
.label {
    padding: 1em 1em 1em;
}
.normal-price {
    text-decoration: line-through;
    font-size: 13px;
    color: #AFADAD !important;
    margin-bottom: -15px;
	margin-top:5px;
}
.package-date {
    font-size: 13px;
    color: #AFADAD !important;
    margin-bottom: -15px;
    margin-top: 5px;
	display:block;
}
.discount-price {
    font-size: 20px;
    color: #F7A91B !important;
}
.current-price{
	font-size: 20px;
	margin-top: 30px;
}
.transparent{
	background:rgba(255, 255, 255, 0) !important;
}
span.icon {
    display: none;
}
.list_sidebar_homepage i.fa.fa-angle-right {
    display: none;
}
.result-item-features ul.inline > li {
    display: block;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.results-grid-view .result-item{
	min-height:452px;
}
.ful{
	width:100% !important;
}

/*=======================
Product Item
========================*/
/** Travel Items **/
.travel-item {
	width: 100%;
	margin-bottom: 25px;
	padding: 0 !important;
	overflow: hidden;
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.travel-image {
	position: relative;
	overflow: hidden;
	display: block;
}
.travel-image img {
	border: 0;
	height: auto;
	max-width: 100%;
	-ms-interpolation-mode: bicubic !important;
	-webkit-transition: -webkit-transform .25s ease-in-out;
			transition: transform .25s ease-in-out;
	-webkit-border-radius: 0;
			border-radius: 0;
			display: block;
}		
.travel-image:hover img {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
}
.link-image {
	position: relative;
	display: block;
	cursor: pointer;
	font-size: 0;
	-webkit-backface-visibility: hidden;
}	
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	overflow: hidden;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity .25s ease, background-color .45s ease;
			transition: opacity .25s ease, background-color .45s ease;
}	
.image-inner:hover .image-overlay { 
	opacity: 0.8;
	filter: alpha(opacity = 80);
}
.image-overlay:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}
.overlay-content {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}	
.overlay-icon  { 
	margin-bottom: 6px;
	color: #fff;
	border: 1px solid #FFF;
	padding: 15px 15px 5px 15px;
}
.overlay-icon  i {
	color: #fff;
	font-size: 34px;
}
.travel-label {
	margin: 0;
	position: relative;
	-webkit-transition: all .25s ease, opacity .25s ease, background-color .45s ease;
			transition: all .25s ease, opacity .25s ease, background-color .45s ease;
	display: block;
}
.travel-label-inner {
	width: 100%;
	border: 1px solid #DBDBDB;
	border-top: 0;
	padding: 13px 15px 11px;
	-webkit-border-radius: 0;
			border-radius: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.with-bg  .travel-label-inner{
	background: #EBEEEF;
}
.colored-border .travel-label-inner {
	border-top: 0;
}
.travel-label h3.travel-title {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 0;
}
.mr25 h3.travel-title {
	margin-right: 25px !important;
}
.mr40 h3.travel-title {
	margin-right: 40px !important;
}
.travel-label .btn-icon {
	position: absolute;
	right: 12px;
	bottom: 14px;
	border: 1px solid #8b9197;
	color: #8b9197;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 9px;
			border-radius: 9px;
}
.travel-label .hotel-counts {
	position: absolute;
	right: 12px;
	top: 11px;
}
.travel-label .btn-icon i {
	font-size: 15px;
	line-height: 15px;
	position: absolute;
	left: 6px;
	top: 0;
}
.travel-label .right {
	position: absolute;
	right: 12px;
	top: 0px;
	padding: 10px 2px 10px 17px;
}
.travel-label .right .btn-icon-2 {
	font-size: 24px;
	line-height: 24px;
}
.travel-label .right .btn-icon-2 i {
	font-size: 24px;
	line-height: 24px;
	color: #0087BD;
}
.travel-item-location {
	font-size: 14px;
}
.travel-item-price {
	position: absolute;
	right: 12px;
	top: 18px;
	font-size: 20px;
}
.travel-item-price span {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 17px;
	text-align: right;
	color: #717171;
}
.travel-item-price-2 {
	font-size: 18px;
}
.travel-item-price-2 span {
	font-size: 12px; 
	color: #8b9197;
}
.travel-item-bb {
	height: 1px;
	width: 100%;
	background: #D9DDDE;
}
.travel-item .btn {
	padding: 5px 7px;
	float: right;
	position: absolute;
	right: 15px;
	bottom: 10px;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
}
.travel-item:hover .travel-label-inner {
	border-top: 0 !important;
}
.travel-item:hover .travel-label-inner .right {
}
.travel-item.hv-bg:hover .travel-label-inner {
	border-top: 0 !important;
}
.travel-item.hv-bg:hover  h3.travel-title a, .travel-item.hv-bg:hover a.btn-icon, 
.travel-item.hv-bg:hover .travel-item-location, .travel-item.hv-bg:hover .travel-item-price {
	color: #FFF;
}
.colored-border:hover h3 a {
}
.travel-item:hover a.btn-icon {
}
.travel-item.hv-bg:hover a.btn-icon {
	border: 1px solid #FFF;
	color: #FFF;
}
.image-no-overlay {
    position: absolute;
    top: 0;
    left: 0;
	display:none;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    filter: alpha(opacity = 0);
     -webkit-transition: opacity .25s ease, background-color .45s ease; 
     transition: opacity .25s ease, background-color .45s ease; 
}
.results-list-view .action-grid{
	display:none;
}
.results-grid-view .action-list{
	display:none;
}
.ml-25{
	margin-left:-25px;
}
.pt3{
	padding-top:3px;
}
.information1st{
	list-style-type:none;
	list-style:none
}
.information1st li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}
div#section-info {
    margin-top: -50px;
}
div#section-intro {
    margin-top: -50px;
}
.final-review .star-rating-container {
    text-align: center;
    margin-left: 20%;
}
.font25{
	font-size:25px;
}
.font21{
	font-size:21px !important;
}
.col-md-5.col-sm-4.col-xs-6 ul.social-icons.social-icons-colored.inversed.rounded {
    float: right;
}
.absolute{
	position:absolute;
}
.top20{
	top:20px;
}
.question {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
}
.answer {
    font-size: 20px;
    line-height: 1.5;
}
.quote p {
    font-size: 25px;
    line-height: 1.5;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.padding10prcnt{
	padding-left:10%;
	padding-right:10%;
}
/*DISKON LABEL ORANGE START*/
.label-reedem-home {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 100;
    background-image: url(http://d35ixe5v9yyxne.cloudfront.net/wordpress/wp-content/uploads/diskon_label.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    background-size: contain;
}
/*BLUR HEADER START*/
.touch .parallax:after, .page-header.parallax:after{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    /*z-index: 5;*/
}

.touch .parallax:after, .page-header.parallax:after{
    overflow: hidden;
    background: -webkit-linear-gradient(top,transparent 0,transparent 0,rgba(0,0,0,.65) 100%);
    background: -moz-linear-gradient(top,transparent 0,transparent 0,rgba(0,0,0,.65) 100%);
    background: linear-gradient(to bottom,transparent 0,transparent 0,rgba(0,0,0,.65) 100%);
}
.page-header h1.page-title {
    position: absolute !important;
    z-index:9;
}
/*Autocomplete Style*/
ul#ui-id-1 {
    width: 39% !important;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 10px;
    line-height: 2;
}
.circle-radius{
	border-radius:50%;
}