

.f18{
	font-size:18px !important;
}


.f15{
	font-size:15px !important;
}

.f14{
	font-size:14px !important;
}

.f13{
	font-size:13px !important;
}

.f12{
	font-size:12px !important;
}

.f11{
	font-size:11px !important;
}

.f10{
	font-size:10px !important;
}

.btn-action{
	margin-bottom:3px;
}

.detailauc_mdl_tbl{
	margin-top: 15px;
}

.detailauc_tab{
	margin-left:15px;margin-right:15px;
}


.slidercustom {
	display: block;
	height: 345px;
	width: 100%;
}

.pinvoice{
	margin-bottom:20px;
}